# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ex4
**/*.ex4
Experts/*.ex4

*.png
**/*.log
Files/**
Files/PTA_AUDJPY_SaveFile.txt
Files/PTA_AUDUSD_SaveFile.txt
